body {
    background-color: #ffffff;
    margin: 0px;
}

#StickyTop{

    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;

}

#Top {
    padding: 6px 0 6px 0;
}

#TopFinder {
    right: -5px;
    position: relative;
    width: 312px;
    height: 54px;
    padding: 0px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #8b8b8b;
    border: 1px solid #e6e6e6;
    border-color: #dddddd;
    margin: 10px 50px 10px 22px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#Glass {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    transform: translateY(-50%);
}

#where {
    position: absolute;
    left: 60px;
    font-size: 14px;
    color: #0f0f0f;
    top: 15%;
    font-weight: bold;
}

#any {
    position: absolute;
    font-size: 12px;
    color: #9b9b9b;
    top: 52%;
    left: 60px;
}

#Filter {
    position: absolute;
    background-color: #ffffff;
    border-color: #707070;
    top: 21px;
    left: 350px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #e6e6e6;
}

#Filterimg {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
}


#Carrousel {
    position: relative;
    box-shadow: 0px 2px 0px 0px rgba(207, 207, 207, 0.459);
    height: 55px;
    overflow: auto;
    padding: 0px 20px 0px 20px;
}

#SymbolsAndTitles {
    position: relative;
    right: 35px; /* Here to adjust the left margin where the symbols start */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#Beachfront, #New, #EarthHomes, #Play, #NationalParks, #OMG, #AmazingPools, #Icons, #Cabins, #AmazingViews, #Farms, #Countryside, #Castles, #Lakefront, #OffTheGrid, #Vineyards, #Treehouses, #Camping, #Mansions, #Trending, #Tropical, #TinyHouses, #Boats, #Luxe, #Lake, #Islands, #Design, #HistoricalHomes, #Barns, #Houseboats, #Yurts, #TopCities, #Caves {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 1px 0px;
}

.symbol {
    display: flex;
    padding: 2px 31.5px 2px 31.5px;
    height: 24px;
    margin-bottom: 1px;
    opacity: 0.7;
}

.symboltext {
    padding: 0px;
    font-size: 13px;
    text-align: center;
    display: block;
}

#Products {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    padding: 0px 0px 0px 0px;
}

#Hert, #Ranmore, #Oxford, #Suffolk, #Langton, #Moreton, #Bloxham, #Stewton, #Docking, #Warton, #ThorpeMorieux, #Essex, #GreensteadGreen, #Cottered, #Adstock, #KingsLynn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px -10px 0px;
    position: relative;
}



.ImageContainerWrapper {
    width: 364px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}

.ImageContainer {

    position: relative;
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Mandatory snap on the X axis */
    width: 100%;
    box-sizing: border-box; /* Include padding in the total size */
    
}

.Photos {
    
    min-width: 364px;
    height: 345.7px; 
    width: 364px;
    object-fit: cover;
    scroll-snap-align: start; /* Align the start of each image with the container */
    margin-right: 0px; /* This isn't actually a margin, it's spacing between images */
    padding: 24px 0px 24px 0px;
    border-radius: 40px;
}




.PhotoTexts {
    display: flex;
    flex-direction: column;
    align-items: start; 
    padding: 14px 14px 14px 0px;
    font-size: 15px;
    text-align: left;
}

.location, .hostType, .dates, .blank, .price {
    position: relative;
    bottom: 21px;
    right: 118px;
    text-align: left;
    margin: 0; /* Just in case, I think it works. Removes any margin that might cause misalignment */
    padding: 0px 0px 2px 0px; /* Note that when rotated in column, the third value indicates the horizontal. */
    opacity: 70%;
    font-family: Helvetica;
}

.location, .price {
    font-weight: bold;
    opacity: 100%;
}

.price {
    position: relative;
    top: -10px;
    text-decoration: underline;
    padding: 0px 0px -50px 0px;
}

.heart {
    position: absolute;
    top: 32px;
    right: 32px;
    height: 25px;
    width: 25px;
    font-size: 29px;
    color: white;
}

.Guest {
    position: absolute;
    top: 40px;
    left: 35px; 
    background: rgb(255, 255, 255); 
    color: rgb(32, 32, 32);
    padding: 5.5px 12px; 
    border-radius: 30px;
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 0px 2px 10px 0px rgba(167, 167, 167, 0.8);

}



.StarAndNumber, .StarAndNumber2 { 
    position: absolute; 
    bottom: 95px; 
    right: 20px; 
    color: rgb(32, 32, 32);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#Continue {
display: flex;
justify-content: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 16.5px;
padding: 40px 0px 18px 0px;

}

#Showmorewrapper{
    display: flex;
    justify-content: center;
    align-items: center;    

}

#Showmore {
    display: flex;
    justify-content: center; 
    align-items: center;   
    background: rgb(34, 34, 34); 
    color: rgb(255, 255, 255);
    padding: 5.5px 12px; 
    border-radius: 10px; 
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 26%;
    height: 36px;
    margin-bottom: 32px;
    
}

#InspirationBlock {

    margin: 0px; /* I don't recommend changing this value, even though it's set to 0. */

}

#GreyBlock {

    background-color: #f7f7f7;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 48px 24px 48px 24px;

}

#InspirationText {

    display: flex;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23.5px;
    margin: 0px 0px 8px 0px;

}

#BottomCarrousel {
    height: 50px;
    overflow: auto;
    overflow: auto;
}

#Types {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.TypesTexts {

    padding: 10px;
    margin: 6px;
    color: #363636;

}

#Popular, #Historic, #Coastal, #Islands, #Lakes, #UniqueStays, #Categories, #ThingsToDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 1px 0px -10px;
    white-space: nowrap;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 6px;
    padding: 24px 0px 0px 24px; 
}


.city-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start; /* This is centering everything to the left, don't touch it, it works. */
    padding: 10px 10px 10px 0px;
    margin: 0px 1px 0px -18px;
}

.city-name {
    font-family: helvetica;
    margin-bottom: 5px;
    color: #0f0f0f;
    font-size: 15px;
}

.rental-type {
    color: #747474;
    font-size: 15px;
    font-family: helvetica;
}

.divider {
    width: auto;
    height: 1px;
    background-color: #aaaaaa; 
    margin: 24px 0 24px 0px; 
}

.FooterLinks {
    display: flex;
    flex-wrap: wrap;
   
}
  
  .links {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    white-space: nowrap;
    padding: 24px;
    margin: -25px 0px -32px -10px;
    color: #0f0f0f;

}

.support {

    font-size: 20px;
    font-weight: bold;

}

.linklinktext {
    
    font-size: 14px;
    display: flex;
    flex-direction: column;

}

.links li {
    margin: 0px 0px 16px -10px;
    font-size: 15px;
}

#SupportText, #HostingText, #AirbnbText {
    font-weight: bold;
}

#FooterFinal {
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: #0f0f0f;
    margin-left: -15px;
}

#WorldSymbol {
    padding-right: 20px;
    height: 20px;
    width: 20px;
}

#LanguageCurrency {
    display: flex;
    margin-bottom: 16px;
}

#CopyrightInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    font-size: 15px;


}

.footer-item {
 
    font-size: 15px;
    color: #0f0f0f;
   
}

#BoldFooterItem{
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    font-family: Helvetica;
    margin: 0px 0px 0px -10px;
}

#MapAndWord{

height: 50px;



}

#MapSymbol{

    position: relative;
    left: 15%;
    height: 16px;
    width: 16px;
 

}

#MapText {

    position: fixed;
    bottom: 9.5%;
    left: 39%; 
    background: rgb(36, 35, 35); 
    color: rgb(255, 255, 255);
    padding: 11px 19px 11px 19px; 
    border-radius: 30px;
    font-size: 15px; 
    font-family: Cambria;
    font-weight: bold;
    box-shadow: 0px 2px 10px 0px rgba(167, 167, 167, 0.8);

}

#bottom-bar{
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);


}

.BottomBarText{

    font-size: 11px;
    opacity: 0.8;
}

.BottomBarSymbol{

    height: 24px;
    width: 24px;
}

.Explore, .Whislist, .Login {

    padding: 12px 0px 12px 0px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}

